body {
    background-color: var(--secondary);
}

main {
    padding: 40px;
    color: var(--strong-accent);
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    gap: 34px;
    flex-wrap: wrap;
    margin-top: 47px;
    padding: 0 69px
}

.card {
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: var(--weak-accent);
}

.card img{
    height: 100px;
    width: 100px
}

.flipped {
    background-color: tomato;
}

.back {
    display: none;
}

.flipped .back {
    display: block    
}

.flipped img {
    display: none
}

@media (max-width: 614px) {
    h1 {
        font-size: 36px
    }
}