body {
    background-color: var(--secondary);
}

main {
    padding: 40px;
    color: var(--strong-accent);
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    gap: 34px;
    flex-wrap: wrap;
    margin-top: 47px;
    padding: 0 69px
}

.card {
    height: 146px;
    width: 117px;
    position: relative;
    padding: 0;
    display: block;
    border: none;
    background-color: transparent;
}

.card div {
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: var(--weak-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    backface-visibility: hidden;

    /* IOS Compatibility */
    -webkit-backface-visibility: hidden;

    top: 0;
    transition: all .5s;
}

.card img{
    height: 100px;
    width: 100px
}

.back {
    transform: rotateY(180deg)
}

.flipped .back {
    transform: rotateY(0deg)  
}

.flipped .front {
    transform: rotateY(-180deg)
}

main > div {
    margin: 20px auto;
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: red;
    max-width: 1000px;
}

@media (max-width: 614px) {
    h1 {
        font-size: 36px
    }
}