body {
    background-color: var(--secondary);
}

main {
    padding: 40px;
    color: var(--strong-accent);
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}

section {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    margin-top: 47px;
}

.card {
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: var(--weak-accent);
}

.flipped {
    background-color: tomato;
}